.widgetSm{
    flex: 1;
    -webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.25); 
box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.25);
padding: 1.2rem;
margin-right: 1.2rem;
}
.widgetSmTitle{
    font-size: 1.5rem;
    font-weight: 600;
}
.widgetSmImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.widgetSmList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem 0;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}
.widgetSmUsername{
    font-weight: 600;
}
.widgetSmUserTitle{
    font-weight: 300;
}
.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem 0.7rem;
    background-color: #FFE6E6;
    color: #555;
    cursor: pointer;
}
.widgetSmIcon{
    font-style: 1rem;
    margin-right: 0.35rem;
}