.sidebar{
    flex: 1;
    height: calc(100vh - 3.5rem);
    position: sticky;
    top: 3.5rem;
    background-color: #fff6f6;
}
.sidebarWrapper{
    padding: 1.2rem;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 0.7rem;
}
.sidebarTitle{
    font-size: 2rem;
    color: rgb(120, 120, 120);
}
.sidebarList{
    list-style: none;
    padding: 0.35rem;
}
.sidebarListItem{
     padding: 0.35rem;
     cursor: pointer;
     display: flex;
     align-items: center;
     border-radius: 0.6rem;
     transition: all 0.5s ease;
}
.sidebarListItem.active, .sidebarListItem:hover{
    background-color: #ffe6e6aa;
}
.sidebarIcon{
    margin-right: 0.5rem;
    font-size: 1.2rem !important;
}